@model HotelManagerSystemv2.Areas.Admin.Models.RoomType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdryer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hairdryer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Towels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Towels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jacuzzi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jacuzzi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bidet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bidet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toilet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrobes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrobes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fridge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fridge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kitchen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kitchen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kitchenette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kitchenette)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WashingMachine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WashingMachine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iron)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iron)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Internet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Internet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
