@model IEnumerable<HotelManagerSystemv2.Areas.Admin.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Pokoje</h1>

<p>
    <a asp-action="Create">Dodaj nowy pokój</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nr. pokoju
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Cena
            </th>
            <th>
                Max. ilość osób
            </th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    <img src="~/Images/@item.RoomImage" class=" rounded-circle" width="40" height="40" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPrice)/ za noc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCapacity)
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoomId">Edycja</a> |
                    <a asp-action="Details" asp-route-id="@item.RoomId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoomId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
