@model IEnumerable<HotelManagerSystemv2.Areas.Admin.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Pokoje</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomDescription)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    <img src="~/Images/@item.RoomImage" class=" rounded-circle" width="40" height="40" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
