@model HotelManagerSystemv2.Areas.Employee.ViewModel.BookingViewModel
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Podsumowanie</h1>

    <h4>Rezerwacja: </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label class="control-label">Imię i Nazwisko:</label>
                    <input asp-for="Booking.Name" class="form-control" />
                    <span asp-validation-for="Booking.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Telefon: </label>
                    <input asp-for="Booking.Phone" type="tel" placeholder="+11-111-111-111" class="form-control" />
                    <span asp-validation-for="Booking.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail:</label>
                    <input asp-for="Booking.Email" placeholder="example@email.com" class="form-control" />
                    <span asp-validation-for="Booking.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Komentarz:</label>
                    <input asp-for="Booking.Note" class="form-control" />
                    <span asp-validation-for="Booking.Note" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Rozpoczęcie pobytu:</label>
                    <h3>@Model.Booking.FirstDay.ToShortDateString()</h3>
                    <input type="hidden" asp-for="Booking.FirstDay" class="form-control" />
                    <span asp-validation-for="Booking.FirstDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Zakończenie pobytu:</label>
                    <h3>@Model.Booking.LastDay.ToShortDateString()</h3>
                    <input type="hidden" asp-for="Booking.LastDay" class="form-control" />
                    <span asp-validation-for="Booking.LastDay" class="text-danger"></span>
                </div>

                <hr />

                <div class="form-group">
                    <h3>Suma: @Model.Booking.TotalPrice.ToString("C")</h3>
                    <input type="hidden" asp-for="Booking.TotalPrice" class="form-control" />
                    <span asp-validation-for="Booking.TotalPrice" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="@Model.Booking.ReservationDate" value="@DateTime.Now" />
                <input type="hidden" asp-for="@Model.Booking.EmployeeId" value="@Model.Booking.EmployeeId" />
                <input type="hidden" asp-for="@Model.Booking.RoomId" value="@Model.Booking.RoomId" />
                <input type="hidden" asp-for="@Model.Booking.NumberOfPeople" value="@Model.Booking.NumberOfPeople" />
                <input type="hidden" asp-for="@Model.Booking.Dinner" value="@Model.Booking.Dinner" />

                <div class="form-group">
                    <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
