@model HotelManagerSystemv2.Areas.Employee.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imię i nazwisko:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Telefon:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            E-mail:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Przyjazd:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstDay)
        </dd>
        <dt class="col-sm-2">
            Wyjazd:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastDay)
        </dd>
        <dt class="col-sm-2">
            Data rezerwacji:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            Dodatkowe wyżywienie:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dinner)
        </dd>
        <dt class="col-sm-2">
            Ilość osób:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>

        <dt class="col-sm-2">
            Nr. pokoju:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            Status rezerwacji:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus.BookingStatusName)
        </dd>
        <dt class="col-sm-2">
            Status płatności:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus.PaymentStatusName)
        </dd>
        <dt class="col-sm-2">
            Suma:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edycja</a> |
    <a asp-action="Index">Powrót do grafiku</a>
</div>
