@model IEnumerable<HotelManagerSystemv2.Areas.Employee.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="SearchResult">Sprawdź dostępność pokojów</a>
</p>

<form asp-area="Employee" asp-controller="Bookings" asp-action="Index" method="get">
    <p>
        <select name="bookingStatus">

                <option selected disabled hidden>Wybierz status</option>
                <option>Nowa</option>
                <option>Potwierdzona</option>
                <option>Zameldowany</option>
                <option>Wymeldowany</option>          
        </select>

        <input type="search" placeholder="Wpisz imię, nazwisko lub e-mail..." name="searchString" value="@ViewData["GetBookingDetails"]" style="width:500px">  
        <input type="submit" value="Szukaj" /> |
        <a asp-action="Index">Wczytaj pełną listę rezerwacji</a>
    </p>    
</form>

<form>
    <p>
        <input type="date" name="arrivals" value="@ViewData["Arrivals"]" />
        <input type="submit" value="Sprawdź przyjazdy" /> |
        <input type="date" name="departure" value="@ViewData["Departure"]" />
        <input type="submit" value="Sprawdź wyjazdy" /> 
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest.FirstNameLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            @if (item.BookingStatusId == 1)
            {
                <tr style="background-color: #AED6F1">
                    <td>
                        Nowa
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.FirstNameLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

            @if (item.BookingStatusId == 2)
            {
                <tr style="background-color: #F9E79F">
                    <td>
                        Potwierdzona
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.FirstNameLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

            @if (item.BookingStatusId == 3)
            {
                <tr style="background-color: #ABEBC6">
                    <td>
                        Zameldowany
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.FirstNameLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

            @if (item.BookingStatusId == 4)
            {
                <tr style="background-color: #ABB2B9">
                    <td>
                        Wymeldowany
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.FirstNameLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
