@model IEnumerable<HotelManagerSystemv2.Areas.Employee.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezerwacje</h1>

<p>
    <a asp-action="SearchResult">Sprawdź dostępność pokojów</a>
</p>

<form asp-area="Employee" asp-controller="Bookings" asp-action="Index" method="get">
    <p>
        <select name="bookingStatus">

            <option selected disabled hidden>Wybierz status rezerwacji</option>
            <option>Nowa</option>
            <option>Potwierdzona</option>
            <option>Zameldowany</option>
            <option>Wymeldowany</option>
        </select>

        <select name="paymentStatus">

            <option selected disabled hidden>Wybierz status opłaty</option>
            <option>Nieopłacono</option>
            <option>Opłacono zaliczkę</option>
            <option>Opłacono</option>

        </select>

        <input type="search" placeholder="Wpisz nr. rezerwacji, imię, nazwisko lub e-mail..." name="searchString" value="@ViewData["GetBookingDetails"]" style="width:500px">
        <input type="submit" value="Szukaj" /> |
        <a asp-action="Index">Wyczyść filtry wyszukiwania</a>
    </p>
</form>

<form>
    <p>
        <input type="date" name="arrivals" value="@ViewData["Arrivals"]" />
        <input type="submit" value="Sprawdź przyjazdy" /> |
        <input type="date" name="departure" value="@ViewData["Departure"]" />
        <input type="submit" value="Sprawdź wyjazdy" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nr. rez.
            </th>
            <th>
                Status rez.
            </th>
            <th>
                Status opłaty
            </th>
            <th>
                Imię i nazwisko
            </th>
            <th>
                E-mail
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm1"]">Przyjazd</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm2"]">Wyjazd</a>
            </th>
            <th>
                Ilość osób
            </th>
            <th>
                Suma
            </th>
            <th>
                Nr. pokoju
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            @if (item.BookingStatusId == 1)
            {

                @if (item.ReservationDate.AddDays(6) <= DateTime.Today)
                {

                    <tr style="background-color: #FF9999">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            Brak zaliczki
                        </td>

                        @if (item.PaymentStatusId == 3)
                        {
                            <td style="background-color: #CCFFE5">

                                Opłacono
                            </td>

                        }
                        @if (item.PaymentStatusId == 2)
                        {
                            <td style="background-color: #F9E79F">
                                Opłacono zaliczkę
                            </td>

                        }
                        @if (item.PaymentStatusId == 1)
                        {

                            <td style="background-color: #FF9999">
                                Nieopłacono
                            </td>

                        }

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPeople)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>

                }
                else
                {

                    <tr style="background-color: #AED6F1">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            Nowa
                        </td>

                        @if (item.PaymentStatusId == 3)
                        {
                            <td style="background-color: #CCFFE5">

                                Opłacono
                            </td>

                        }
                        @if (item.PaymentStatusId == 2)
                        {
                            <td style="background-color: #F9E79F">
                                Opłacono zaliczkę
                            </td>

                        }
                        @if (item.PaymentStatusId == 1)
                        {

                            <td style="background-color: #FF9999">
                                Nieopłacono
                            </td>
                        }


                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPeople)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>
                }
            }

            @if (item.BookingStatusId == 2)
            {
                <tr style="background-color: #F9E79F">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        Potwierdzona
                    </td>

                    @if (item.PaymentStatusId == 3)
                    {
                        <td style="background-color: #CCFFE5">

                            Opłacono
                        </td>

                    }
                    @if (item.PaymentStatusId == 2)
                    {
                        <td style="background-color: #F9E79F">
                            Opłacono zaliczkę
                        </td>

                    }
                    @if (item.PaymentStatusId == 1)
                    {
                        <td style="background-color: #FF9999">
                            Nieopłacono
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }

            @if (item.BookingStatusId == 3)
            {
                <tr style="background-color: #ABEBC6">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        Zameldowany
                    </td>

                    @if (item.PaymentStatusId == 3)
                    {
                        <td style="background-color: #CCFFE5">

                            Opłacono
                        </td>

                    }
                    @if (item.PaymentStatusId == 2)
                    {
                        <td style="background-color: #F9E79F">
                            Opłacono zaliczkę
                        </td>

                    }
                    @if (item.PaymentStatusId == 1)
                    {
                        <td style="background-color: #FF9999">
                            Nieopłacono
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }

            @if (item.BookingStatusId == 4)
            {
                <tr style="background-color: #ABB2B9">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        Wymeldowany
                    </td>

                    @if (item.PaymentStatusId == 3)
                    {
                        <td style="background-color: #CCFFE5">

                            Opłacono
                        </td>

                    }
                    @if (item.PaymentStatusId == 2)
                    {
                        <td style="background-color: #F9E79F">
                            Opłacono zaliczkę
                        </td>

                    }
                    @if (item.PaymentStatusId == 1)
                    {
                        <td style="background-color: #FF9999">
                            Nieopłacono
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomType.RoomTypeName) nr. @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
